<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Random movie</title>

</head>
<body class="wrapper">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <div class="card text-dark" >
      <img src="{{my_movie.cover_url}}" class="card-img" alt="..." style="filter:blur(50px);">
      <div class="card-img-overlay">
          
         <div class="float-sm-left" > <img src="{{my_movie.full_cover_url}}" class="rounded-lg" alt="..."   width="200px" height="300px" style="margin:15px"></div>

         <div style="margin:10px ">
            
            <p class="h1" style="font:bold;mix-blend-mode: difference;"><strong>{{my_movie.title}}</strong></p>

            <p class="rating" style="font:bold;mix-blend-mode: difference;"><strong>IMDB Rating : {{my_movie.rating}}</strong></p>

         <ul class="list-inline" style="mix-blend-mode: difference;"><strong><li class="list-inline-item">Genre : </li></strong> 
            {% for genre in my_movie.genre %}
               <li class="list-inline-item">
                  <span class="border border-dark">{{genre}}</span>
               </li>
            {% endfor %}
         </ul>

         <ul class="list-inline" style="mix-blend-mode: difference;"><strong><li class="list-inline-item">Director : </li></strong> 
            {% for director in my_movie.directors %}
            <li class="list-inline-item">
               <span class="border border-dark">{{director}}</span> 
            </li>
            {% endfor %}
         </ul>
     
         <p style="mix-blend-mode: difference; max-width: 1200px;"><strong>Synopsis: {{my_movie.plot}}<strong></p>
         <div class="float-sm-left">
         <form action="" method="GET" class="main_form">
         <button type="submit" class="btn btn-dark">click to get a random movie</button>
         </form>
         </div>
         </div>
         
      </div>
   </div>
</body>
</html>