<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Random movie</title>

</head>
<body class="wrapper">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 30px;">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {%if user.is_authenticated%}
               <li class="nav-item float-right">
                 <a class="nav-link" href="{%url 'random_movies:random_movie'%}" style="font-size: large;"><strong>Home</strong><span class="sr-only">(current)</span></a>
               </li>
              <li class="nav-item float-right">
                 <a class="nav-link" style="font-size: large;" href="{%url 'random_movies:marked'%}"><strong>Marked-Movies</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
               {%csrf_token%}
              <a class="nav-link" href="{% url 'accounts:logout'%}"  style="font-size: large;"><strong>Logout</strong><span class="sr-only">(current)</span></a>
            </li>
              
              {%else%}
              <li class="nav-item float-right">
               <a class="nav-link" href="{%url 'random_movies:random_movie'%}" style="font-size: large;"><strong>Home</strong><span class="sr-only">(current)</span></a>
             </li>
              <li class="nav-item float-right">
               <a class="nav-link" href="{%url 'accounts:login'%}" style="font-size: large;"><strong>Login</strong><span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                {%csrf_token%}
               <a class="nav-link" href="{%url 'accounts:signup'%}"  style="font-size: large;"><strong>SignUp</strong><span class="sr-only">(current)</span></a>
             </li>
              {%endif%}
            </ul>
         </div>
       </div>
  </header>



    <div class="card text-dark" >
      <img src="{{my_movie.full_cover_url}}" class="card-img" alt="..." style="filter:blur(50px);" height="1050px" width="1050px">
      <div class="card-img-overlay">
         
 
         <div class="col-md-12 text-center text-md-left p-2" >
             <img src="{{my_movie.full_cover_url}}" class="rounded-lg" alt="..."   width="200px" height="300px" style="margin:10px;">
         </div>

         <div class="col-md-12 text-center text-md-left p-2" style="margin: 10px;">
            
               <p class="h1" style="font:bold;mix-blend-mode: difference;"><strong>{{my_movie.title}}</strong></p>

               <p class="rating" style="font:bold;mix-blend-mode: difference;"><strong>IMDB Rating : {{my_movie.rating}}</strong></p>

            <ul class="list-inline" style="mix-blend-mode: difference;"><strong><li class="list-inline-item">Genre : </li></strong> 
               {% for genre in my_movie.genre %}
                  <li class="list-inline-item">
                     <span class="border border-dark">{{genre}}</span>
                  </li>
               {% endfor %}
            </ul>

            <ul class="list-inline" style="mix-blend-mode: difference;"><strong><li class="list-inline-item">Director : </li></strong> 
               {% for director in my_movie.directors %}
               <li class="list-inline-item">
                  <span class="border border-dark">{{director}}</span> 
               </li>
               {% endfor %}
            </ul>
            <ul class="list-inline" style="mix-blend-mode: difference;"><strong><li class="list-inline-item">Available on : </li></strong> 
               {% for platform in my_movie.streaming_platforms %}
               <li class="list-inline-item">
                  <span class="border border-dark">{{platform}}</span> 
               </li>
               {% endfor %}
            </ul>
      
            <p style="mix-blend-mode: difference; max-width: 1200px;"><strong>Synopsis: {{my_movie.plot}}<strong></p>

               
               <ul class="list-group list-unstyled" >
                  <li><div class="float-sm-left" style="margin:10px ; margin-bottom: 20px; margin-right: 10px;">
               
                     <button onclick="myFunction()" class="btn btn-dark">click to get a random movie</button>
                  
                  </div>
               </li>
               <li><div class="float-sm-left" style="margin:10px ; margin-bottom: 20px; margin-right: 10px;">
               
                 <form action="{%url 'random_movies:mark'%}" method="POST">
                  {% csrf_token %}
                    <input type="submit" value="Mark this movie" class="btn btn-dark">
                 </form>
               
               </div>
            </li>
 
                     <a href="{{my_movie.free_url1}}"  style="text-decoration: underline;mix-blend-mode: difference;padding: 15px;">Free streaming link</a>
                  </li>
                  
                  <li class="list-inline-item">
                     <a href="{{my_movie.free_url2}}" style="text-decoration: underline;mix-blend-mode: difference;padding: 14px; ">Free download link</a>
                        
                  </li>
                  
               </ul>
              
            <script type="text/javascript">
               function myFunction() {
                   location.reload();
               }
               </script>

             
         </div>
         
      </div>
   </div>
</body>
</html>